<% content_for :title, "Temas e asuntos sobre Ciência da computação escritos por Gustavo Pantuza" %>
<% content_for :description, "Lista de temas e assuntos sobre Ciência da computação escritos por Gustavo Pantuza" %>
<% content_for :keywords, "Temas, assuntos, artigos, Ciência da computação" %>

<section class="tags-index">
    <section id="tags-top-ads">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-0498762804992593"
                 data-ad-slot="9673006526"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </section>

    <header class="tags-index-header">
        <h1>Tags</h1>
    </header>

    <%= render 'list' %>

    <section id="tags-bottom-ads">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-0498762804992593"
                 data-ad-slot="2149739727"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </section>
</section>

