<section>
    <section id="tags-top-ads">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-0498762804992593"
                 data-ad-slot="9673006526"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </section>

    <header class="tags-index">
        <h1><%= @tag.name.upcase %></h1>
    </header>

    <%= render 'preview' %>

    <section id="tags-bottom-ads">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-0498762804992593"
                 data-ad-slot="2149739727"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </section>
</section>
