<section>
    <header>
        <h1>Editar artigo</h1>
    </header>

    <div class="action">
        <ul>
            <li>
                <%= link_to 'Artigos', articles_path %>
            </li>
        </ul>
    </div>

    <%= render 'form' %>

</section>
