<% content_for :title, "Gustavo Pantuza - Blog - Artigos" %>

<section>
    <header class="articles-index">
        <h1>Últimos artigos</h1>
    </header>

    <div class="action">
        <ul>
            <li>
                <% if current_user %>
                    <%= link_to 'New article', new_article_path %>
                <% end %>
            </li>
        </ul>
    </div>

    <%= render 'preview' %>

</section>

