<% content_for :title, "Gustavo Pantuza - Blog - Artigos" %>
<% content_for :description, "Lista de artigos sobre Ciência da computação escritos por Gustavo Pantuza" %>
<% content_for :keywords, "Artigos, tutoriais, conteúdo, Ciência da computação, posts, análises, pesquisa" %>

<section class="preview">
    <header class="articles-index">
        <h1>Últimos artigos</h1>
    </header>

    <div class="action">
        <ul>
            <li>
                <% if current_user %>
                    <%= link_to 'New article', new_article_path %>
                <% end %>
            </li>
        </ul>
    </div>

    <%= render 'preview' %>

</section>

