<% content_for :title, "Artigos sobre Ciência da computação escritos por Gustavo Pantuza" %>
<% content_for :description, "Lista de artigos, tutoriais e posts sobre Ciência da computação escritos por Gustavo Pantuza" %>
<% content_for :keywords, "Artigos, tutoriais, conteúdo, Ciência da computação, posts, análises, pesquisa" %>

<section class="preview">
    <section id="article-top-ads">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-0498762804992593"
                 data-ad-slot="9673006526"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </section>

    <header class="articles-index">
        <h1>Últimos artigos</h1>
    </header>

    <div class="action">
        <ul>
            <li>
                <% if current_user %>
                    <%= link_to 'New article', new_article_path %>
                <% end %>
            </li>
        </ul>
    </div>

    <%= render 'preview' %>

</section>

