<section>
    <header>
        <h1>Artigos</h1>
    </header>

    <div class="action">
        <ul>
            <li>
                <% if current_user %>
                    <%= link_to 'New article', new_article_path %>
                <% end %>
            </li>
        </ul>
    </div>

    <%= render 'preview' %>

</section>

