<header>
    <h1>Ciência da Computação</h1>
    <div class="logo">
        <pre>
         ______     __                     
        |_   _ \   [  |                    
          | |_) |   | |    .--.     .--./) 
          |  __'.   | |  / .'`\ \  / /'`\; 
         _| |__) |  | |  | \__. |  \ \._// 
        |_______/  [___]  '.__.'   .',__`  
                                  ( ( __)) 
        </pre>
        <pre class="binary-year">
        00110010 00110000 00110001 00110110
        </pre>
    </div>

    <section>
        <div class="author">
        </div>
    </section>

    <section>
        <div class="search">
        </div>
    </section>

    <nav>
        <%= link_to 'Home', root_path %> |
        <%= link_to 'Artigos', controller: 'articles' %>
    </nav>

    <hr />
</header>
