
.preview {
    width: 60%;
    position: relative;
    left: 25%;

    .left {
        float: left;
        width: 280px;
        figure {
            width: 200px;
            height: 200px;
            img {
            }
        }
    }

    .right {
        float: right;
        width: 45%;
        right: 25%;
        position: relative;
        header{
            h1 {
                text-align: left;
                text-transform: uppercase;
                font-family: monospace;
                letter-spacing: 2px;
                font-style: normal;
            }
        }

        span {
            color: white;
            letter-spacing: 1px;
            font-family: monospace;
        }
    }

    .bottom {
        clear: both;
        ul {
            height: 25px;
            width: 200px;
            bottom: 20px;
            position: relative;

            li {
                color: #4d5f69;
                font-weight: bold;
                font-family: monospace;
                font-size: small;
                letter-spacing: 2px;
                list-style: none;
            }

            li:first-child {
                float: left;
            }
            li:last-child {
                float: right;
            }
        }
    }
}
