.articles-index {
    h1 {
        font-family: monospace;
        font-size: 40px;
        letter-spacing: 3px;
        font-weight: 200;
        font-style: normal;
    }
}

.preview {
    width: 60%;
    position: relative;
    left: 25%;

    .left {
        float: left;
        width: 280px;
        figure {
            width: 200px;
            height: 200px;
            img {
            }
        }
    }

    .right {
        float: right;
        width: 45%;
        right: 20%;
        position: relative;
        header{
            h1 {
                text-align: left;
                text-transform: uppercase;
                font-family: monospace;
                letter-spacing: 2px;
                font-style: normal;
            }
        }

        span {
            color: white;
            letter-spacing: 1px;
            font-family: monospace;
        }
    }

    .bottom {
        clear: both;
        top: 10px;
        position: relative;
        ul {
            height: 25px;
            width: 200px;
            bottom: 20px;
            position: relative;

            li {
                color: #4d5f69;
                font-weight: bold;
                font-family: monospace;
                font-size: small;
                letter-spacing: 2px;
                list-style: none;
            }

            li:first-child {
                float: left;
            }
            li:last-child {
                float: right;
            }
        }
    }
}


/* Articles form */

#new_article, .edit_article {

    width: 80%;
    position: relative;
    left: 10%;
    text-align: center;

    .article-form {

        label {
            color: gray;
            font-family: monospace;
            letter-spacing: 2px;
            font-weight: bold;
            text-align: left;
            width: 60%;
            display: inline-block;
        }

        input {
            color: white;
            width: 60%;
            background-color: black;
            border-color: gray;
            border-width: 1px;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            outline: none;
        }

        #article_title {
            height: 40px;
            font-size: xx-large;
            text-align: center;
            font-family: monospace;
            font-weight: bold;
            letter-spacing: 2px;
        }

        #article_subtitle {
            height: 20px;
            font-size: large;
            font-style: italic;
        }

        .article-permalink-p {
            position: relative;
            width: 60%;
            left: 20%;
            height: 15px;
            bottom: 15px;

            label {
                position: relative;
                width: 100px;
                float: left;
            }

            #article_permalink {
                position: relative;
                width: calc(100% - 102px);
                float: right;
                border-bottom: 0;
                text-align: left;
            }
        }


        textarea {
            color: white;
            width: 60%;
            background-color: black;
            border-color: gray;
            border-width: 1px;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            outline: none;
        }

        #article_abstract {
            height: 100px;
            font-size: small;
            text-align: justify;
            line-height: 20px;
        }

        #article_all_tags {
            text-align: left;
            font-size: medium;
            color: teal;
            font-family: monospace;
            font-weight: bold;
            letter-spacing: 1px;
            margin-top: 5px;
        }

        .article-submit {
            height: 25px;
            width: 60%;
            left: 20%;
            position: relative;

            input[type=submit] {
                position: relative;
                width: 40%;
                height: 100%;
                float: right;
                background-color: gray;
                color: black;
                font-weight: bold;
                font-family: monospace;
                border-radius: 3px;
            }
        }
    }
}

/* Show article */

.article-show {

    margin-top: 10%;

    article {

        header {

            h1 {
                font-size: 40px;
                font-family: monospace;
                text-transform: uppercase;
                letter-spacing: 5px;
                font-style: normal;
                font-weight: normal;
                text-align: center;
            }

            h3 {
                color: gray;
                text-align: center;
                font-style: italic;
                position: relative;
                bottom: 35px;
            }

            time {
                position: relative;
                margin: 18%;
                padding-top: 2%;
                padding-bottom: 2%;
                color: gray;
                font-family: monospace;
                font-size: small;
            }
        }

        .content-blocks {
            padding-top: 2%;
            padding-bottom: 2%;

            p {
                color: #BBB;
                position: relative;
                width: 65%;
                left: 20%;
                text-align: justify;
                font-family: sans-serif;
                font-size: large;
                letter-spacing: 1px;
            }

            pre {
                width: 60%;
                position: relative;
                margin: auto;
                border: 1px solid blue;
                border-radius: 3px;
            }

            .video-block {
                width: 60%;
                position: relative;
                margin: auto;
                text-align: center;
                padding-top: 2%;
            }

            .photo-block-show img {
                position: relative;
                left: 20%;
            }

            #ytplayer {
                border: 1px;
            }
        }
    }
}
