.articles-index {
    h1 {
        font-family: monospace;
        font-size: 40px;
        letter-spacing: 3px;
        font-weight: 200;
        font-style: normal;
    }
}

.preview {

    #article-top-ads, #article-bottom-ads {
        width: 60%;
        position: relative;
        left: 20%;
        margin-top: 2%;
    }

    .action {
        height: 50px;
    }

    ul {
        li {
            height: 300px;

            .article-preview {

                figure {
                    width: 40%;
                    margin: 0 auto;
                }

                .add-cover {
                    width: 45%;
                    text-align: center;
                    padding-left: 3%;
                    color: #4d5f69;
                    font-weight: bold;
                    font-family: monospace;
                    font-size: small;
                    letter-spacing: 2px;
                }

                .left {
                    float: left;
                    width: 280px;
                    padding-left: 10%;

                    input[type=file] {
                        width: 160px;
                        position: relative;
                        left: -5px;
                    }

                    input[type=submit] {
                        position: relative;
                        left: -5px;
                    }
                }

                .right {
                    float: right;
                    width: 45%;
                    right: 15%;
                    position: relative;
                    header{
                        h1 {
                            text-align: left;
                            text-transform: uppercase;
                            font-family: monospace;
                            letter-spacing: 2px;
                            font-style: normal;
                        }
                    }

                    span {
                        color: white;
                        letter-spacing: 1px;
                        font-family: monospace;
                    }
                }

                .bottom {
                    clear: both;
                    top: 15px;
                    position: relative;
                    padding-left: 14%;
                    ul {
                        height: 25px;
                        width: 200px;
                        bottom: 20px;
                        position: relative;

                        li {
                            max-height: 25px;
                            color: #4d5f69;
                            font-weight: bold;
                            font-family: monospace;
                            font-size: small;
                            letter-spacing: 2px;
                            list-style: none;
                        }

                        li:first-child {
                            float: left;
                        }
                        li:last-child {
                            float: right;
                        }
                    }
                }
            }
        }
    }

    #recommended-tags {

        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
        margin-top: 5%;

        .recommended-tags-header {

            h3 {
                color: cyan;
                font-family: monospace;
                font-weight: bold;
                letter-spacing: 2px;
                padding-left: 5%;
                padding-top: 2%;
            }
        }

        section {
            ul {
                margin-top: 5%;

                li {
                    width: 33%;
                    float:left;
                    height: 50px;
                }
            }
        }

        .clear-articles-tags {
            clear: both;
        }
    }
}


/* Articles form */

#new_article, .edit_article {

    width: 80%;
    position: relative;
    left: 10%;
    text-align: center;

    .article-form {

        label {
            color: gray;
            font-family: monospace;
            letter-spacing: 2px;
            font-weight: bold;
            text-align: left;
            width: 60%;
            display: inline-block;
        }

        input {
            color: white;
            width: 60%;
            background-color: black;
            border-color: gray;
            border-width: 1px;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            outline: none;
        }

        #article_title {
            height: 40px;
            font-size: xx-large;
            text-align: center;
            font-family: monospace;
            font-weight: bold;
            letter-spacing: 2px;
        }

        #article_subtitle {
            height: 20px;
            font-size: large;
            font-style: italic;
        }

        .article-permalink-p {
            position: relative;
            width: 60%;
            left: 20%;
            height: 15px;
            bottom: 15px;

            label {
                position: relative;
                width: 100px;
                float: left;
            }

            #article_permalink {
                position: relative;
                width: calc(100% - 102px);
                float: right;
                border-bottom: 0;
                text-align: left;
            }
        }

        div.unpublished {

            color: white;
            width: 60%;
            min-height: 100px;
            position: relative;
            left: 20%;
            text-align: justify;
            font-weight: lighter;
            letter-spacing: 1px;
        }

        .anchor-input {

            width: 30%;
            color: cyan;
            border-color: white;
        }

        textarea {
            color: white;
            width: 60%;
            background-color: black;
            border-color: gray;
            border-width: 1px;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            outline: none;
        }

        #article_abstract {
            height: 100px;
            font-size: small;
            text-align: justify;
            line-height: 20px;
        }

        #article_all_tags {
            text-align: left;
            font-size: medium;
            color: teal;
            font-family: monospace;
            font-weight: bold;
            letter-spacing: 1px;
            margin-top: 5px;
        }

        .article-submit {
            height: 25px;
            width: 60%;
            left: 20%;
            position: relative;

            input[type=submit] {
                position: relative;
                width: 40%;
                height: 100%;
                float: right;
                background-color: gray;
                color: black;
                font-weight: bold;
                font-family: monospace;
                border-radius: 3px;
            }
        }
    }
}

/* Show article */

$code_bg: #111;

.article-show {

    margin-top: 2%;

    article {
        width: 60%;
		position: relative;
		left: 20%;

        header {

            h1 {
                font-size: 40px;
                font-family: monospace;
                text-transform: uppercase;
                letter-spacing: 5px;
                font-style: normal;
                font-weight: normal;
                text-align: center;
            }

            h3 {
                color: gray;
                text-align: center;
                font-style: italic;
                position: relative;
                bottom: 35px;
                letter-spacing: 1px;
                font-weight: lighter;
            }

            time {
                position: relative;
                padding-top: 2%;
                padding-bottom: 2%;
                color: gray;
                font-family: monospace;
                font-size: small;
            }

            .social-share-button {
                float: right;
                width: 25%;

                .ssb-icon {
                    background-size: 25px 25px;
                    height: 25px;
                    width: 25px;
                }
            }
        }

        .content-blocks {
            padding-top: 2%;
            padding-bottom: 2%;

            * {
                padding-top: 2%;
                padding-bottom: 2%;
            }

            p {
                color: #BBB;
                text-align: justify;
                font-family: sans-serif;
                font-size: large;
                letter-spacing: 1px;
                font-weight: lighter;
            }

            pre {
                margin: auto;
                border: 1px solid blue;
                border-radius: 3px;
                background: $code_bg;

                code {
                    background: $code_bg;
                }
            }

            .video-block {
                margin: auto;
                text-align: center;
                padding-top: 2%;
            }

            .photo-block-show img {
            }

            #ytplayer {
                border: 1px;
            }
        }
    }

    .author {
        padding-bottom: 2%;

        .author-info {

            display: inline-flex;
            width: 100%;

            .author-figure {

                width: 20%;

                figure {
                    width: 60%;

                    img {
                        position: relative;
                        right: 40px;
                    }
                }

                span {
                    position: relative;
                    bottom: 20px;
                    color: yellow;
                    font-family: monospace;
                    font-size: smaller;
                    padding-left: 1%;
                }
            }

            #author-text {
                height: 90px;
                position: relative;
                width: 80%;
                padding-top: 5%;
            }

            p {
                position: absolute;
                bottom: 0px;
                color: white;
                font-size: small;
                letter-spacing: 1px;
                width: 600px;
            }
        }
    }

    #botton-share-section {

        .social-share-button {

            padding-bottom: 2%;

            .ssb-icon {
                background-size: 25px 25px;
                height: 25px;
                width: 25px;
            }
        }
    }

    #related-tags {

        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
        margin-bottom: 5%;

        .recommended-tags-header {
            .title {
                text-align: left;
                color: white;
                padding-left: 2%;
            }
        }

        .article-recommended-tags {
            .article-tags-list {

                li {
                    width: 33%;
                    float:left;
                    height: 50px;
                }
            }
        }

        .clear-tags {
            clear: both;
        }
    }

    #disqus_thread {
        margin-top: 5%;
        position: relative;
        width: 60%;
        left: 20%;
    }
}
