
/* Content Block */

.article-content-type {
    color: white;
    width: 50px;
    height: 150px;

    ul {

        li {
            list-style: none;
            width: 45px;
            height: 45px;
            padding: 0 5% 0 5%;
            background-color: #A58EA2;
            margin: 30%;
            background-size: 55%;
            background-repeat: no-repeat;
            background-position: 50%;
            border-radius: 5px;
            cursor: pointer;
        }

        .video {
            background-image: url(asset-path('video.svg'));
        }

        .photo {
            background-image: url(asset-path('photo.svg'));

        }

        .code {
            background-image: url(asset-path('code.svg'));
        }

        .paragraph {
            background-image: url(asset-path('paragraph.svg'));
        }
    }
}

/* Fixed content blocks to use after scroll */
.fixed-content-blocks {
    position: fixed;
    top: 10%;
    left: 15%;
}

.content-blocks {

    width: inherit;

    .ContentBlockList {

        .photo-block-form {

            display: inline-flex;
            width: 60%;

            label {
                width: 20%;
            }

        }

        .video-block-form {

        }

        .code-block-form {

        }

        .paragraph-block-form {

        }
    }
}
