
/* Content Block */

.article-content-type {
    color: white;
    width: 50px;
    height: 150px;

    ul {

        li {
            list-style: none;
            width: 45px;
            height: 45px;
            padding: 0 5% 0 5%;
            background-color: #A58EA2;
            margin: 30%;
            background-size: 55%;
            background-repeat: no-repeat;
            background-position: 50%;
            border-radius: 5px;
            cursor: pointer;
        }

        .video {
            background-image: url(asset-path('video.svg'));
        }

        .photo {
            background-image: url(asset-path('photo.svg'));

        }

        .code {
            background-image: url(asset-path('code.svg'));
        }

        .paragraph {
            background-image: url(asset-path('paragraph.svg'));
        }
    }
}

/* Fixed content blocks to use after scroll */
.fixed-content-blocks {
    position: fixed;
    top: 10%;
    left: 15%;
}

.content-blocks {

    width: inherit;

    .ContentBlockList {

        .photo-block-form, .video-block-form {

            section {
                display: inline-flex;
                width: 60%;

                label {
                    width: 20%;
                }

                input {
                    font-size: small;
                }
            }

            .photo-block-remove, .video-block-remove {
                width: 20%;
                text-align: right;
            }

        }

        .photo-block-show img {
            position: relative;
            left: 20%;
        }

        .code-block-form {
            height: 200px;
            padding-bottom: 5%;

            textarea {
                border: 2px solid gray;
                border-radius: 2px;
                font-family: monospace;
                font-size: small;
                letter-spacing: 2px;
            }

            .code-block-remove {
                float: right;
                width: 61%;
                left: 10%;
                position: relative;
                top: 8%;
            }
        }

        .paragraph-block-form {

            textarea {
                height: 100px;
                font-size: medium;
            }

            .paragraph-block-remove {
                float: right;
                right: 20%;
                position: relative;
            }
        }

        .block-remove {
            color: gray;
            font-family: sans-serif;
            font-weight: bold;
            font-size: small;
            cursor: pointer;
        }
    }
}
