footer {

    .location {

        width: 60%;
        float: left;

        pre {
            color: green;
            letter-spacing: 2px;
            right: 10%;
            position: relative;

            span {
                color: red;
            }
        }
    }

    hr {
        margin-top: 10%;
        margin-bottom: 5%;
        border: 5px dotted;
        color: #236;
    }

    aside {
        float: right;
        width: 40%;

        .site-links {
            display: inline-flex;

            ul {

                li {
                    width: 60%;
                    display: inline-block;
                }
            }
        }
    }
    .spock p {
        font-family: monospace;
        color: green;
        letter-spacing: 1px;
        padding-top: 5%;
        clear: both;
    }
}
