footer {

    pre {
        color: green;
        letter-spacing: 2px;
        right: 7%;
        position: relative;

        span {
            color: red;
        }
    }

    hr {
        margin-top: 10%;
        margin-bottom: 5%;
        border: 5px dotted;
        color: #236;
    }

    .spock p {
        font-family: monospace;
        color: green;
        letter-spacing: 1px;
        padding-top: 5%;
    }
}
