header {
    display: block;
    width: 100%;
    height: 20%;

    h1 {
        color: green;
        text-align: center;
        font-size: medium;
        font-family: sans-serif;
        font-style: italic;
    }

    .logo {
        float: left;
        width:33%;
        padding-top: 3%;

        pre {
            color: green;
            font-size: 10px;
            font-weight: bold;
            position: relative;
            bottom: 50px;
            right: 50px;
        }
    }

    .author {
        width: 30%;
        float: right;

        .author-info {

            display: inline-flex;

            .author-figure {

                width: 35%;

                figure {
                    width: 60%;
                }

                span {
                    width: inherit;
                    position: relative;
                    bottom: 20px;
                    color: yellow;
                    font-family: monospace;
                    font-size: smaller;
                    padding-left: 18%;
                }
            }

            p {
                color: white;
                font-size: small;
                letter-spacing: 1px;
                height: 90px;
                margin-top: 13%;
            }
        }
    }

    .search {
        width: 100%;

        form {
            width: 100%;
            text-align: right;

            input[type=text] {
                width: 80%;
            }

            input[type=submit] {
                width: 18%;
                font-size: large;
                font-family: monospace;
                box-shadow: 0px 0px 16px rgba(0,255,0, .75);
                border-radius: 4px;
                border-top: 0px;
                height: 25px;
            }
        }
    }

    .nav-bar {
        clear: both;

        a {
            color: #4d5f69;
            font-weight: 500;
            letter-spacing: 2px;
            margin: .7em 0;
            padding: .55em;
            text-decoration: none;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    }

    hr {
        border: 5px dotted;
        color: #236;
    }

    section.auth {
        display: inline-flex;

        .login {
            min-height: 20px;
            display: none;

            form {
                display: inherit;

                input {
                    padding-left: 1%;
                    padding-right: 1%;
                    border-style: solid;
                    border-radius: 3px;
                    background-color: black;
                    border-color: gray;
                    border-width: 1px;
                    color: green;
                }
                input[name=email] {
                    width: 200px;
                }
                input[name=password] {
                    width: 120px;
                }
                input[name=commit] {
                    font-weight: bold;
                    margin-left: 10px;
                }
            }
        }

        .logout {
        
        }
    }
}

