

/* Variable definitions */
$content_width: 80%;
$atf_box_height: 1000px;

$atf_title_size: 180px;

$item_text_opacity: .8;

#home-content {

    position: relative;
    width: $content_width;
    left: 10%;
    margin-top: 10%;

    .above-the-fold {

        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
    }

    .atf-title {

        color: cyan;
        font-family: monospace;
        font-weight: bold;
        letter-spacing: 2px;
        padding-left: 5%;
    }

    #last-recently-created {

        float: left;
        width: 48%;
        height: $atf_box_height;

        .home-list-title {

            height: 5%;
        }

        .content-list {

            width: 100%;
            height: 92%;
            text-align: center;
            position: relative;

            ul {

                display: inline-flex;
                padding: 0px;
                width: 100%;
                height: 25%;
                margin: 0px;

                li {

                    width: 50%;
                    position: relative;

                    article {

                        a {
                            header {

                                position: absolute;
                                width: 184px;
                                margin-left: 11%;
                                margin-top: -3%;

                                h1 {

                                    color: green;
                                    background: black;
                                    font-family: monospace;
                                    letter-spacing: 1px;
                                    text-transform: uppercase;
                                    text-align: center;
                                    font-size: medium;
                                    font-style: normal;
                                    opacity: $item_text_opacity;
                                }
                            }

                            figure {
                                position: relative;
                                z-index: -1;
                                margin: 7%;
                            }

                            span {
                                position: relative;
                                width: 180px;
                                text-align: justify;
                                float: left;
                                bottom: 60px;
                                left: 12%;
                                background: black;
                                color: gray;
                                font-family: monospace;
                                font-size: smaller;
                                letter-spacing: 1px;
                                opacity: $item_text_opacity;
                                line-height: 1.0;
                            }
                        }
                    }
                }
            }
        }
    }

    #top-articles {

        float: right;
        width: 48%;
        height: $atf_box_height;

        .home-list-title {

            height: 5%;
        }

        .content-list {

            width: 100%;
            height: 92%;
            text-align: center;
            position: relative;

            ul {

                display: inline-flex;
                padding: 0px;
                width: 100%;
                height: 25%;
                margin: 0px;

                li {

                    width: 50%;
                    position: relative;

                    article {

                        a {
                            header {

                                position: absolute;
                                width: 184px;
                                margin-left: 11%;
                                margin-top: -3%;

                                h1 {

                                    color: green;
                                    background: black;
                                    font-family: monospace;
                                    letter-spacing: 1px;
                                    text-transform: uppercase;
                                    text-align: center;
                                    font-size: medium;
                                    font-style: normal;
                                    opacity: $item_text_opacity;
                                }
                            }

                            figure {
                                position: relative;
                                z-index: -1;
                                margin: 7%;
                            }

                            span {
                                position: relative;
                                width: 180px;
                                text-align: justify;
                                float: left;
                                bottom: 60px;
                                left: 12%;
                                background: black;
                                color: gray;
                                font-family: monospace;
                                font-size: smaller;
                                letter-spacing: 1px;
                                opacity: $item_text_opacity;
                                line-height: 1.0;
                            }
                        }
                    }
                }
            }
        }
    }

    .home-pub-middle {

        clear: both;
        position: relative;
        top: 30px;
        text-align: center;
    }

    .home-pub-bottom {

        margin-top: 10%;
        margin-bottom: 10%;
        text-align: center;
    }

    #recommended-articles {

        position: relative;
        top: 50px;
        clear: both;
        width: 100%;
        height: 300px;
        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;

        .recommended-header {

            position: relative;
            top: 15px;
        }

        .content-list {

            width: 100%;
            position: relative;
            height: 80%;

            ul {

                display: inline-flex;
                width: 100%;
                position: relative;
                height: 100%;
                padding: 0px;
                bottom: 40px;

                li {

                    position: relative;
                    width: 25%;

                    article {
                        position: relative;
                        height: 100%;

                        header {
                            position: absolute;
                            float: left;
                            width: 184px;
                            left: 15%;

                            h1 {

                                color: green;
                                background: black;
                                font-family: monospace;
                                letter-spacing: 1px;
                                text-transform: uppercase;
                                text-align: center;
                                font-size: medium;
                                font-style: normal;
                                opacity: $item_text_opacity;
                            }
                        }
                    }

                    .home-recommended-tags {

                        width: 65%;
                        position: relative;
                        height: 15%;
                        left: 15%;
                        text-align: center;
                        bottom: 15px;
                        color: white;

                        span {

                            padding-left: 1px;
                            padding-right: 1px;

                            a {

                                font-family: monospace;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
            }
        }
    }

    #recommended-tags {

        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;

        section {
            ul {
                margin-top: 5%;

                li {
                    width: 33%;
                    float:left;
                    height: 50px;
                }
            }
        }

        .clear-home-tags {
            clear: both;
        }
    }
}
