// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tags-index {

    h1 {
		color: green;
		text-align: center;
		font-size: 40px;
		font-family: monospace;
		font-weight: 100;
		letter-spacing: 5px;
    }
}

.tags-list {

    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;

    ul {
        padding-left: 0px;

        li {
            width: 33%;
            height: 75px;
            float: left;
            font-family: monospace;
            font-size: x-large;
            letter-spacing: 3px;
        }
    }

    .tags-clear-section {
        clear: both;
    }
}

.preview {
    .action {
        height: 50px;
    }

    #tags-top-ads, #tags-bottom-ads {
        position: relative;
        width: 60%;
        left: 20%;
        margin-top: 2%;
    }


    ul {
        li {
            height: 300px;

            .article-preview {

                figure {
                    width: 40%;
                    margin: 0 auto;
                }

                .add-cover {
                    width: 45%;
                    text-align: center;
                    padding-left: 3%;
                    color: #4d5f69;
                    font-weight: bold;
                    font-family: monospace;
                    font-size: small;
                    letter-spacing: 2px;
                }

                .left {
                    float: left;
                    width: 280px;
                    padding-left: 10%;

                    input[type=file] {
                        width: 160px;
                        position: relative;
                        left: -5px;
                    }

                    input[type=submit] {
                        position: relative;
                        left: -5px;
                    }
                }

                .right {
                    float: right;
                    width: 45%;
                    right: 15%;
                    position: relative;
                    header{
                        h1 {
                            text-align: left;
                            text-transform: uppercase;
                            font-family: monospace;
                            letter-spacing: 2px;
                            font-style: normal;
                        }
                    }

                    span {
                        color: white;
                        letter-spacing: 1px;
                        font-family: monospace;
                    }
                }

                .bottom {
                    clear: both;
                    top: 15px;
                    position: relative;
                    padding-left: 14%;
                    ul {
                        height: 25px;
                        width: 200px;
                        bottom: 20px;
                        position: relative;

                        li {
                            max-height: 25px;
                            color: #4d5f69;
                            font-weight: bold;
                            font-family: monospace;
                            font-size: small;
                            letter-spacing: 2px;
                            list-style: none;
                        }

                        li:first-child {
                            float: left;
                        }
                        li:last-child {
                            float: right;
                        }
                    }
                }
            }
        }
    }

    #recommended-tags {

        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
        margin-top: 5%;

        .recommended-tags-header {

            h3 {
                color: cyan;
                font-family: monospace;
                font-weight: bold;
                letter-spacing: 2px;
                padding-left: 5%;
                padding-top: 2%;
            }
        }

        section {
            ul {
                margin-top: 5%;

                li {
                    width: 33%;
                    float:left;
                    height: 50px;
                }
            }
        }

        .clear-articles-tags {
            clear: both;
        }
    }
}


