// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tags-index {

    h1 {
		color: green;
		text-align: center;
		font-size: 40px;
		font-family: monospace;
		font-weight: 100;
		letter-spacing: 5px;
    }
}

.tags-list {

    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;

    ul {
        padding-left: 0px;

        li {
            width: 33%;
            height: 75px;
            float: left;
            font-family: monospace;
            font-size: x-large;
            letter-spacing: 3px;
        }
    }

    .tags-clear-section {
        clear: both;
    }
}
