<h1>Ciência da Computação</h1>
<div>
    <pre>
     ______     __                     
    |_   _ \   [  |                    
      | |_) |   | |    .--.     .--./) 
      |  __'.   | |  / .'`\ \  / /'`\; 
     _| |__) |  | |  | \__. |  \ \._// 
    |_______/  [___]  '.__.'   .',__`  
                              ( ( __)) 
    </pre>
    <pre>
    00110010 00110000 00110001 00110110
    </pre>
</div>
<%= link_to 'Lista de posts', controller: 'articles' %>
<%= link_to 'New article', new_article_path %>
