<%= link_to 'Lista de posts', controller: 'articles' %>
<% if current_user %>
    <%= link_to 'New article', new_article_path %>
<% end %>


<section id="home-content">

    <section id="last-recently-created" class="above-the-fold">
        <header>
            <h3 class="atf-title">Últimos artigos</h3>
        </header>
    </section>

    <section id="top-articles" class="above-the-fold">
        <header>
            <h3 class="atf-title">Mais acessados</h3>
        </header>
    </section>

    <section id="recommended-articles">
        <header>
            <h3 class="atf-title">Artigos recomendados</h3>
        </header>
    </section>

</section>
