<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<div>
    <pre>
     ______     __                     
    |_   _ \   [  |                    
      | |_) |   | |    .--.     .--./) 
      |  __'.   | |  / .'`\ \  / /'`\; 
     _| |__) |  | |  | \__. |  \ \._// 
    |_______/  [___]  '.__.'   .',__`  
                              ( ( __)) 
    </pre>
    <pre>
    00110010 00110000 00110001 00110110
    </pre>
</div>
